#container { 
  width: 100%;
  height: 100%;
}

#wrapper {
  text-align: center;
  width: 100%;
}

#title {
  text-align: center;
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
}

#first {
  border: 1px solid black;
  display: inline-block;
  float: left;
  width: 30%;
  margin: 3% 3% 3% 10%;
  min-height: 200px;
  max-width: 30%;
}

#buttonWrapper {
  display: inline-block;
  vertical-align: top;
  margin: 3% 0;
  max-width: 100px;
}

.button {
  display: block;
  margin: 10% auto;
}

#second {
  border: 1px solid black;
  display: inline-block;
  float: right;
  width: 30%;
  margin: 3% 10% 3% 3%;
  min-height: 200px;
  max-width: 30%;
}

ul {
  list-style-type: none;
}
